@import 'config';
@import 'mixins';

ul.menu, ul.sub-menu {
	list-style: none;
	font-family: $narrowFont;
	margin: 0;
	padding: 0 0 2px 0;
	font-size: 24px;

	li { cursor: pointer; }
}

ul.menu {
	margin-top: 25px;

	@include keyframes(grow) {
		from { width: 0; }
		to { width: 100%; }
	}

	li {
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		letter-spacing: -1px;
		margin-left: 20px;
		margin-right: 10px;
		border-bottom: 3px solid $backgroundColor;

		.fa {
			font-size: 14px;
			vertical-align: middle;
			margin-bottom: 3px;
			padding: 0 0 0 6px;
			@include transition(opacity .5s ease);
			@include opacity(0.2);
		}

		&.gaiapro {
			color: $trimColor;
		}

		div.underline {
			background-color: $trimColor;
			margin: 0 auto;
			height: 3px;
			width: 0;
		}

		&:hover {
			div.underline {
				animation-name: grow;
				animation-duration: 0.2s;
				animation-iteration-count: 1;
				width: 100%;
			}
			.fa { @include opacity(1); }
		}
	}
}

ul.sub-menu {

}
