@import "config";
@import "menu";
@import "alert";
@import "mixins";
@import "./font-awesome/font-awesome.scss";

body {
	padding: 0;
	margin: 0;
	//background-image: url('./img/topo-tile-light.jpg');
	font-family: $bodyFont;
}

div.view {
	padding: $space;
}

div.modal {
	position: absolute;
	top: $space * 5;
	width: 200px;
	margin: 0 auto;
}

footer.main {
	position: absolute;
	color: $backgroundColor;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px;
	background-color: $darkColor;
}