@import "config";
@import "menu";
@import "alert";
@import "mixins";
@import "./font-awesome/font-awesome.scss";

body {
	padding: 0;
	margin: 0;
	font-family: $bodyFont;
}

div.view {
	padding: $space;
}

div.hero {
	background-image: url(./img/pinyon-peak.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 600px;
}

div.modal {
	position: absolute;
	top: $space * 5;
	width: 200px;
	margin: 0 auto;
}

header.main, footer.main {
	color: $backgroundColor;
	background-color: $darkColor;
}

header.main {
}

footer.main {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
}